@import url(http://allfont.ru/allfont.css?fonts=pt-sans);

@import url(http://allfont.ru/allfont.css?fonts=pt-sans-narrow);

.upperText {
	text-transform: uppercase;
}

.infoBlock {
	margin: { top: 4%; }
}

.infoBlock__title {
	font: {
		size: 1.6em;
		family: 'PT Sans Narrow', Arial;
	}
	color: #515e72;
	padding-bottom: 2%;
	@extend .upperText;
}

.infoBlock__subtitle {
	font: { 
		size: 1.3em;
		family: 'PT Sans', Arial;
	}
	color: #515e72;
}

@mixin underline {
	content: "";
	display: block;
	height: 1px;
	background-color: #ebebeb;
	margin: { top: 5px; }
}

.underlined:after {
	@include underline;
	width: 60px;
}

.dateStyle {
	@extend .upperText;
	font: { size: 0.8em; }
}

p {
	font: {
		family: 'PT Sans', Arial;
		size: 1.0em;
	}
	color: #515e72;
}

.linksList {
	&__item {
		padding: 10px;
		& a {
			color: #1594d4;
			text-decoration: none;
			&:visited {
				color: #1594d4;
			}
			&:hover {
				color: blue;
			}
		}
	}
	&__icon {
		margin-right: 10px;
	}
}

.separator {
	&__img {
		&--rotated {
			display: inline-block;
			&:hover {
				animation: rotateMonsterIcon 3.5s;
			}
		}
	}
}

@keyframes rotateMonsterIcon {
	0% { transform: rotate(-360deg); }
	50% { transform: rotate(360deg); }
}

@mixin beforeAfter {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 2px;
	background-color: #ebebeb;
	position: relative;
}

.infoBlock-separator {
	&__separator {
		overflow: hidden;
		text-align: center;
		font-size: 30px;
		&:before {
			@include beforeAfter;
			margin-left: -100%;
			left: -10px;
		}
		&:after {
			@include beforeAfter;
			margin-right: -100%;
			right: -10px;
		}
	}
}

@mixin ulStyled {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	color: #515e72;
}

.infoBlock-links {
	&__linksList {
		@include ulStyled;
		&__item {
			&--anchor:before {
				
			}
		}
	}
}

@mixin timePoint {
	content: "";
	display: block;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	border: 2px solid white;
	box-shadow: 0 0 2px #B4B7BA;
	position: absolute;
	top: 5px;
	left: 3px;

}

@mixin timeLine {
	content: "";
	display: block;
	height: 86px;
	width: 6px;
	border: {
		left: 2px solid white;
		right: 2px solid white;
	}
	box-shadow: 0 0 2px #B4B7BA;
	position: absolute;
	top: 15px;
	left: 6px;
	z-index: 1;

}

.infoBlock-experience {
	&__experienceList {
		@include ulStyled;
	}
}

.experienceList {
	&__item {
		&--usual {
			padding-left: 30px;
			position: relative;
			& h3 {
				color: #3d9ccc;
				font: { weight: 700; }
			}
			&:before {
				@include timePoint;
				background-color: #3d9ccc;
			}
		}

		&--toLifeLine {
			&:after {
				@include timeLine;
				background-color: #3d9ccc;
			}
		}

		&--separate {
			padding-left: 30px;
			position: relative;
			& h3 {
				color: #96c73c;
			}
			&:before {
				@include timePoint;
				background-color: #96c73c;
			}
		}
	}
}

.infoBlock-skills {
	&__skillsList {
		&--rounded{
			@include ulStyled;
		}
		&--linear {
			display: inline;
			padding: 0;
		}
	}
}

@mixin canvasStyle {
	background-color: #eff2f5;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	position: relative;
}

@mixin layerStyle {
	position: absolute;
	width: 160px;
	height: 160px;
}

@mixin partStyle {
	position: absolute;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	background-color: #1ba0e1;
	//border-color: #30BAE7;
}

@mixin percentsStyle {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 150px;
	height: 150px;
	padding-top: 25%;
	padding-left: 5%;
	border-radius: 100%;
	font-family: 'PT Sans', Arial;
	font-size: 3.5em;
	text-align: center;
	color: #515e72;
	background: #fff;
}

.skillsList {
	&__item {
		color: #515e72;
	}
	&__fCanvas {
		@include canvasStyle;
	}
	&__sCanvas {
		@include canvasStyle;
	}
	&__tCanvas {
		@include canvasStyle;
	}
}

$firstPartOfCircleProgress: 180;
$secondPartOfCircleProgress: 0;

.fCanvas {
	@include canvasStyle;
	
	$x1: 55;
	$perc1: ($x1/100);
	$angle1: $perc1*360;

	&__fLayer {
		@include layerStyle;
		clip: rect(0px, 160px, 160px, 80px);
	}

	&__sLayer {
		@include layerStyle;
		clip: rect(0, 80px, 160px, 0px);
	}

	&__fPart {
		@include partStyle;
		clip:rect(0px, 80px, 160px, 0px);
		@if $x1 < 50 {
			transform: rotate(#{$angle1}deg);	
		}
		@else {
			transform: rotate(180deg);
		}
	}

	&__sPart {
		@include partStyle;
		clip:rect(0px, 160px, 160px, 80px);
		@if $x1 > 50 {
			transform: rotate(#{$angle1 - 180}deg);
		}
	}

	&__percent {
		@include percentsStyle;
	}
}

.sCanvas {
	@include canvasStyle;

	$x2: 80;
	$perc2: ($x2/100);
	$angle2: $perc2*360;

	&__fLayer {
		@include layerStyle;
		clip:rect(0px, 160px, 160px, 80px);
	}

	&__sLayer {
		@include layerStyle;
		clip:rect(0, 80px, 160px, 0px);
	}

	&__fPart {
		@include partStyle;
		clip:rect(0px, 80px, 160px, 0px);
		@if $x2 < 50 {
			transform: rotate(#{$angle2}deg);	
		}
		@else {
			transform: rotate(180deg);
		}
	}

	&__sPart {
		@include partStyle;
		clip:rect(0px, 160px, 160px, 80px);
		@if $x2 > 50 {
			transform: rotate(#{$angle2 - 180}deg);
		}
	}

	&__percent {
		@include percentsStyle;
	}
}

.tCanvas {
	@include canvasStyle;

	$x3: 60;
	$perc3: ($x3/100);
	$angle3: $perc3*360;

	&__fLayer {
		@include layerStyle;
		clip:rect(0px, 160px, 160px, 80px);
	}

	&__sLayer {
		@include layerStyle;
		clip:rect(0, 80px, 160px, 0px);
	}

	&__fPart {
		@include partStyle;
		clip:rect(0px, 80px, 160px, 0px);
		@if $x3 < 50 {
			transform: rotate(#{$angle3}deg);	
		}
		@else {
			transform: rotate(180deg);
		}
	}

	&__sPart {
		@include partStyle;
		clip:rect(0px, 160px, 160px, 80px);
		@if $x3 > 50 {
			transform: rotate(#{$angle3 - 180}deg);
		}
	}

	&__percent {
		@include percentsStyle;
	}
}

.percent {
	&__symbol {
		display: inline-block;
		font-size: 0.5em;
		vertical-align: top;
		padding-top: 7%;
	}
}

@mixin pb_line {
	border-radius: 4px;
	padding: 5px 0px 5px 0px;
}

.infoBlock-tools {
	&__programList {
		@include ulStyled;
		padding-left: 15px;
		padding-right: 5px;
	}
	&__activityList {
		margin-top: -20px;
		color: #515e72;
		&--bordered {
			list-style-type: none;
			border: 1px solid #eff2f5;
			border-radius: 5px;
			padding: 10px;	
		}
	}
}

.programList {
	&__progressBar {
		color: white;
		background-color: #eff2f5;
		margin-bottom: 10px;
		border-radius: 4px;
		padding: 0;

		&--blue {
			background-color: #1ba0e1;
			@include pb_line;
			max-width: 90%;
			animation: downloadLinearPB 2s;
		}

		&--green {
			background-color: #8cbf26;
			@include pb_line;
			max-width: 70%;
			animation: downloadLinearPB 2s;
		}

		&--purple {
			background-color: #b664e6;
			@include pb_line;
			max-width: 50%;
			animation: downloadLinearPB 2s;
		}

		&--seaColor {
			background-color: #25b9b8;
			@include pb_line;
			max-width: 20%;
			animation: downloadLinearPB 2s;
		}

		&--orange {
			background-color: #f09709;
			@include pb_line;
			max-width: 60%;
			animation: downloadLinearPB 2s;
		}	
	}
}

@keyframes downloadLinearPB {
	from { width: 0; }
	to { width: 100%; }	
}

.progressBar__caption {
	margin-left: 10px;
	font-size: 0.8em;
	@extend .upperText;
}

.activityList {
	&__title {
		font: { size: 0.8em; };
		color: #515e72;
		@extend .upperText;
		margin: {
			bottom: 5px;
			right: 10px;
		}
	}
	&__item {
		font: { family: 'PT Sans', Arial ;}
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.infoBlock-projects {
	&__projectsList {
		@include ulStyled;
	}
}

.thumbnail {
	border: none;
}

.infoBlock-interests {
	&__interestsList {
		@include ulStyled;
	}
}

.interestsList {
	&__item {
		padding-left: 0;
		margin-left: 0;
	}
	&__caption {
		margin: { bottom: 10px; };
	}
	&__img {
		border-radius: 10px;
	}
}

.infoBlock-footer {
	margin-bottom: 5%;

	&--underlined {
		font: {
			family: Georgia, 'PT Sans', Arial;
			style: italic;
		}
		color: #515e72;
		margin-bottom: 20px;

		&:after {
			@include underline;
			width:10%;
			text-align: center;
			margin-left: 45%;
		}
	}
}

// ----- Adatpation ----- //


//xs-devices (< 768px)
@media (max-width: 768px) {
	
	.infoBlock {
		margin: { top: 4%; }
	}

	.infoBlock-aboutMe {
		& .infoBlock__title:after {
			content: "";
			display: block;
			height: 1px;
			width: 60px;
			background-color: #ebebeb;
			margin: { top: 5px; }
		}
	}

	.infoBlock-experience {
		& .infoBlock__title:after {
			content: "";
			display: block;
			height: 1px;
			width: 60px;
			background-color: #ebebeb;
			margin: { top: 5px; }
		}
	}

	.skillsList {
		&__item {
			margin-top: 5%;
		}
	}

	.infoBlock-skills {
	&__skillsList {
		&--linear {
			margin-top: 7%;
		}
	}
}
	.infoBlock-tools {
		&__activityList {
			margin-top: 3%;
		}
	}

	.interestsList {
		&__item {
			margin-top: 4%;
		}

		&__caption {
			margin-bottom: 5px;
		}
	}
}

//sm-devices (768px-992px)
@media (min-width: 769px) and (max-width: 992px) {
	.infoBlock {
		margin: { top: 3%; }
	}

	.infoBlock-title {
		&__avatar {
			text-align: center;
		}
	}

	.infoBlock-experience {
		padding-left: 10%;
	}

	.infoBlock-tools {
		&__activityList {
			margin-top: -20px;
		}
	}
}

//md-devices (992px-1200px)
@media (min-width: 993px) and (max-width: 1200px) {
	.infoBlock-tools {
		&__activityList {
			margin-top: -20px;
		}
	}
}

//lg-devices (>1201px)
@media (min-width: 1200) { }